
/*font jawnt*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');



#pic1 {
  margin-top: 65px;
}

#pic2 {
  height: 300px;
  width: 550px; 
}


h2 {
  text-align: center;
  font-family:'Gloria Hallelujah', cursive;
}

h3{
  text-align: center;
  font-family:'Gloria Hallelujah', cursive;
}

h5 {
  text-align: center;
  font-family:'Gloria Hallelujah', cursive;
  padding-bottom: 70px;
}
